# Python cache files
*.pyc

# Python module metadata folder
*.egg-info

# wandb log folder
wandb

# videos of rollouts saved by gym's RecordVideo wrapper
videos

# hydra default log folders
outputs
multirun

# build folder for editable installs
build
