# Python cache files
*.pyc

# Python module metadata folder
*.egg-info

# log data folder
log_data

# wandb log folder
wandb

# videos of rollouts saved by gym's RecordVideo wrapper
videos

# hydra default log folder
outputs
multirun

# build folder for editable installs
build
